{% extends "base.html" %}
{% load crispy_forms_tags %}
<title>{% block head_title %}Welcome {{user|title}} | {% endblock head_title %}</title>
{% block content %}
<div class="row">
<div class='col-sm-6 col-sm-offset-3'>
<h1>About Us</h1>
</div>
</div>

<div class="row">
<div class='text-center'>

This is about our site Zetaa!This is about our site Zetaa!This is about our site Zetaa!This is about our site Zetaa!This is about our site Zetaa!This is about our site Zetaa!
This is about our site Zetaa!This is about our site Zetaa!This is about our site Zetaa!This is about our site Zetaa!This is about our site Zetaa!This is about our site Zetaa!

</div>
</div>

{% endblock content %}